// Common breakpoints
$bp--mini:   400px  !default;
$bp--small:  600px  !default;
$bp--medium: 800px  !default;
$bp--large:  1000px !default;
$bp--xlarge: 1200px !default;

// Page
$page--gutter: 1em;

// Layout widths
$layout--small:  20em;
$layout--medium: 30em;
$layout--large:  37em;
$layout--xlarge: 45em;
