<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1.0">

  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/static/modernizr.js"></script>
</head>
<body>
  {% block content %}{% endblock %}
  <script src="/assets/js/main.js"></script>
</body>
</html>
